appVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers: 
      - name: fastapi
        image: {{ .Values.fastapi.image_name}}
        ports: 
        - containerPort: 8000
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
    